<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashionhub</title>

    <link rel="stylesheet" href="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.css">
    <link rel="stylesheet" href="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/product.css">
</head>
<body>


    <nav class="navbar"></nav>

    <section class="product-details">
        <div class="image-slider">
            <div class="product-images">
                <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/men_shirt1_2.jpg" class="active" alt="">
                <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/men_shirt1_1.jpg" alt="">
               

            </div>
        </div>
        <div class="details">
            <h2 class="product-brand">candy shirts</h2>
            <p class="product-short-des">this product one of the top products</p>
            <span class="product-price">₹549</span>
            <span class="product-actual-price">₹799</span>
            <span class="product-discount">( 30% off )</span>

            <p class="product-sub-heading">select size</p>
            <input type="radio" name="size" value="s" checked hidden id="s-size">
            <label for="s-size" class="size-radio-btn check">s</label>
            <input type="radio" name="size" value="m" hidden id="m-size">
            <label for="m-size" class="size-radio-btn">m</label>
            <input type="radio" name="size" value="l" hidden id="m-size">
            <label for="l-size" class="size-radio-btn">l</label>
            <input type="radio" name="size" value="xl" hidden id="m-size">
            <label for="xl-size" class="size-radio-btn">xl</label>
            <input type="radio" name="size" value="xxl" hidden id="m-size">
            <label for="xxl-size" class="size-radio-btn">xxl</label>
            
            <a href="cart.html"><button class="btn cart-btn">add to cart</button></a>
            <button class="btn">add to wishlist</button>
        </div>
    </section>


    <section class="detail-des">
        <h2 class="heading">description</h2>
        <p  class="des">97% Cotton, 3% Spandex
            Imported <br>
            Button closure <br>
            Machine Wash <br>
            RELAXED STRETCH FIT: The Legendary Stretch Flannel Shirt is designed with the same relaxed fit as our other shirts, in addition, it has a raised back yoke, and premium stretch fabric to give you full range of motion… even at full draw <br>
            SNUGGLY SOFT: This flannel shirt features premium brushed cotton fabric with a touch of Spandex to give you ultimate comfort and flexibility, furthermore, with the super soft suede knit lining at the collar and cuffs, you're sure to receive extra cuddles <br>
            DURABLE QUALITY: Our custom suede knit lined collar and cuffs not only look cool, but add stablility... which means they will hold their shape so you don't have to iron <br>
            UPDATED STYLE: We made this men's flannel shirt with convertible pocket flaps that tuck in for overflow storage, perfect for oversized smartphones, or they can be worn as traditional flap pockets, buttoned to secure your belongings <br>
            DURABLE: Double needle stitching ensures this shirt will last wash after wash<br></p>


    </section>


   
  
    <footer></footer>

    
    <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/nav.js"></script>
    <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/footer.js"></script>
    <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.js"></script>
    <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/product.js"></script>
    <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/chatbot.js"></script>
    
</body>
</html>