<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fashionHUb</title>

    <link rel="stylesheet" href="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.css">
    <link rel="stylesheet" href="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/men.css">
   
</head>
<body>

    <nav class="navbar"></nav>
   
        <header class="hero-section">
            <div class="content">
                <img src="https://jaga2002.s3.jp-tok.cloud-object-storage.appdomain.cloud/logo.svg" class="logo" alt="">

                <p class="sub-heading">Best fasion collection for acessories</p>
            </div>
        </header>
        <section class="men-results">
            <h2 class="heading">acessories collections <span>product</span></h2>
            <div class="product-container">
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/free1.jpg" class="product-thumb" alt="">
                        <button class="card-btn">add to cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Candy Hub </h2>
                        <p class="product-short-des">a short line about cloth..</p>
                        <span class="price">₹599</span><span class="actual-price">₹799</span>
                    </div>    
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/free2.jpg" class="product-thumb" alt="">
                        <button class="card-btn">add to cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Candy Hub </h2>
                        <p class="product-short-des">a short line about cloth..</p>
                        <span class="price">₹549</span><span class="actual-price">₹799</span>
                    </div>    
                </div> <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/free3.jpg" class="product-thumb" alt="">
                        <button class="card-btn">add to cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Candy Hub b</h2>
                        <p class="product-short-des">a short line about cloth..</p>
                        <span class="price">₹549</span><span class="actual-price">₹799</span>
                    </div>    
                </div> <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/watch8.jpg" class="product-thumb" alt="">
                        <button class="card-btn">add to cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Candy Hub </h2>
                        <p class="product-short-des">a short line about cloth..</p>
                        <span class="price">₹549</span><span class="actual-price">₹799</span>
                    </div>    
                </div> <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/watch7.jpg" class="product-thumb" alt="">
                        <button class="card-btn">add to cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Candy Hub </h2>
                        <p class="product-short-des">a short line about cloth..</p>
                        <span class="price">₹549</span><span class="actual-price">₹799</span>
                    </div>    
                </div> <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/free7.jpg" class="product-thumb" alt="">
                        <button class="card-btn">add to cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Candy Hub </h2>
                        <p class="product-short-des">a short line about cloth..</p>
                        <span class="price">₹549</span><span class="actual-price">₹799</span>
                    </div>    
                </div> <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/free8.jpg" class="product-thumb" alt="">
                        <button class="card-btn">add to cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Candy Hub </h2>
                        <p class="product-short-des">a short line about cloth..</p>
                        <span class="price">₹549</span><span class="actual-price">₹799</span>
                    </div>    
                </div> <div class="product-card">
                    <div class="product-image">
                        <span class="discount-tag">50% off</span>
                        <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/free9.jpg" class="product-thumb" alt="">
                        <button class="card-btn">add to cart</button>
                    </div>
                    <div class="product-info">
                        <h2 class="product-brand">Candy Hub </h2>
                        <p class="product-short-des">a short line about cloth..</p>
                        <span class="price">₹549</span><span class="actual-price">₹799</span>
                    </div>    
                </div>
            </div>
        </section> <div class="product-container">
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/free11.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Candy Hub </h2>
                    <p class="product-short-des">a short line about cloth..</p>
                    <span class="price">₹549</span><span class="actual-price">₹799</span>
                </div>    
            </div>
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/free12.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Candy Hub </h2>
                    <p class="product-short-des">a short line about cloth..</p>
                    <span class="price">₹549</span><span class="actual-price">₹799</span>
                </div>    
            </div> <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/free13.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Candy Hub </h2>
                    <p class="product-short-des">a short line about cloth..</p>
                    <span class="price">₹549</span><span class="actual-price">₹799</span>
                </div>    
            </div> <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/free1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Candy Hub</h2>
                    <p class="product-short-des">a short line about cloth..</p>
                    <span class="price">₹549</span><span class="actual-price">₹799</span>
                </div>    
            </div> <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/watch6.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Candy Hub</h2>
                    <p class="product-short-des">a short line about cloth..</p>
                    <span class="price">₹549</span><span class="actual-price">₹799</span>
                </div>    
            </div> <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/watch1.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Candy Hub</h2>
                    <p class="product-short-des">a short line about cloth..</p>
                    <span class="price">₹549</span><span class="actual-price">₹799</span>
                </div>    
            </div> <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/watch2.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Candy Hub</h2>
                    <p class="product-short-des">a short line about cloth..</p>
                    <span class="price">₹549</span><span class="actual-price">₹799</span>
                </div>    
            </div> <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">50% off</span>
                    <img src="https://jagadress.s3.jp-tok.cloud-object-storage.appdomain.cloud/watch3.jpg" class="product-thumb" alt="">
                    <button class="card-btn">add to cart</button>
                </div>
                <div class="product-info">
                    <h2 class="product-brand">Candy Hub</h2>
                    <p class="product-short-des">a short line about cloth..</p>
                    <span class="price">₹549</span><span class="actual-price">₹799</span>
                </div>    
            </div>
        </div>
    

   
       
            

    <footer ></footer>

        <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/nav.js"></script>
        <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.js"></script>
        <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/footer.js"></script>
        <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/chatbot.js"></script>
    
</body>
</html>
