<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>fashionHUb</title>

        <link rel="stylesheet" href="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.css">
        <link rel="stylesheet" href="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/adsignin.css">
</head>

<body>

<nav class="navbar"></nav>

        <div class="ad-container">
               
                <div>
                        <p> Admin Login</p>
                        <input type="email" autocomplete="off" id="email" placeholder="email">
                        <input type="password" autocomplete="off" id="password" placeholder="password">

                        <a href="addproduct.html"><button class="submit-btn"> Login</button></a>
                
                </div>
        </div>


<footer></footer>

                <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/nav.js"></script>
                <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/home.js"></script>
                <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/footer.js"></script>
                <script src="https://jagajscss.s3.jp-tok.cloud-object-storage.appdomain.cloud/chatbot.js"></script>

</body>

</html>